# AWS credentials
aws_access_key_id     = ""
aws_secret_access_key = ""
aws_session_token     = ""
aws_region            = "ap-southeast-1"

# Alibaba Cloud credentials
alicloud_access_key_id     = ""
alicloud_access_key_secret = ""
alicloud_region            = "ap-southeast-3"

# Project
project_name = "ai-bill-splitter"
environment  = "dev"
